<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href=<%= cocktails_path%> class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href=<%= new_cocktail_path%> class="navbar-wagon-item navbar-wagon-link">Craft</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Ingredients</a>
  </div>
</div>

<div id="new-cocktail-background">
  <div class="container cocktail-form-div">
    <div class="cocktail-form">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name, label: 'Whats Your Poison?'%>
        <%= f.submit "Swish Swish", class: "btn btn-cocktail" %>
      <% end %>
    </div>
  </div>
</div>
