<div id="show-cocktail-background">
  <%= render 'shared/navbar' %>
  <div class="show-content">
    <div class="cocktail-details">
      <h2 class="cocktail-name"><%= @cocktail.name %></h2>
      <table class="ingredients-list">
        <% @cocktail.doses.each do |dose| %>
        <tr>
          <td class="dose-ingredient"><%= dose.ingredient.name %> |</td>
          <td class="dose-description"><%= dose.description %></td>
          <td><%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="ingredient-form">
      <%= render 'doses/form' %>
    </div>
  </div>
</div>








